<template>
  <h1>React</h1>
  <div class="card">
    <button onClick={() => setCount((count) => count + 1)}>
      count is {count}
    </button>
  </div>
  <span $if={count === 1}> count is 1 </span>
  <span $if={count === 2}> count is 2 </span>
  <span $if={count === 3}> count is 3 </span>
  
  <hr/>

  <strong> Loop </strong>
  <ul>
    <li $for={(item, index) in list} key={index}>
      {"{"}item: {item}, index: {index}{"}"}
    </li>
  </ul>
</template>


<script lang="ts">
import { useState, useEffect } from "react";

const initialState = 5;

const [count, setCount] = useState<number>(initialState);
const [list, setList] = useState<number[]>([]);

useEffect(() => {
  setList(Array.from(Array(count).keys().map((i) => i + initialState)));
}, [count])
</script>
